@model LibraryManagementSystem.Models.tblStudent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblStudent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentRoll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentRoll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentDep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
