@model IEnumerable<LibraryManagementSystem.Models.tblIssue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tab-content">
    <div class="tab-pane container active p-0" id="home">
        <h5 class="text-uppercase p-2 text-center">Book Issue Report</h5>
        @*Data tables*@
        <link rel="stylesheet" , href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
        <link rel="stylesheet" , href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />

        <div class="table-responsive">
            <table width="auto" class="table-sm table-hover table-bordered " id="table">
                <thead class="bg-success text-center text-light">
                    <tr>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IssueDate)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IssueDate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.IssueId, @class = "", style = "text-decoration:none; color: white" })  |
                                @Html.ActionLink("Details", "Details", new { id = item.IssueId, @class = "", style = "text-decoration:none; color: white" }) |
                                @Html.ActionLink("Return", "Delete", new { id = item.IssueId, @class = "", style = "text-decoration:none; color: white" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

@section scripts{
    @*External scripts for data table plugins*@
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "scrollX": true

            });
        });
    </script>
}


